.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #6B385D;
  margin: 0;
  color: white;
  font-family: monospace;
}

.headerRight {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.ants {
  font-size: 48pt;
}

.a {
  color: white !important;
  font-size: 12pt
}