@import './post.scss';

.org {
    @extend .post;
    display: flex;
    min-width: 700px;
    max-width: 100%;

    .card-left {
        max-height: 300px;
        min-width: 50%;
        width: 50%;
        object-fit: contain;
        overflow: hidden;
        margin-right: 20px;
        background-color: $ants-gray-3;
    }

    .card-right {
        width: 100%;

        .label {
            font-weight: 500;
            margin: 10px 0px 0px;
        }

        .tags-container {
            .tag {
                background-color: scale-color($ants-yellow, $lightness: 10%);
                color: scale-color($ants-yellow, $lightness: -50%);
                margin: 3px;
                padding: 2px 5px;
            }
        }
    }
}
