.post {
    margin: 20px;
    padding: 20px;
    min-width: 520px;
    cursor: pointer;

    .card-title {
        color: $ants-black !important;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .tags-container {
        overflow: scroll;
    }

    .label {
        font-size: 14px;
        color: $ants-black !important;
    }

    .card-text {
        font-size: 14px;
        color: $ants-gray-1;
        margin-bottom: 15px;
    }
}
