.post {
    margin: 20px;
    padding: 20px;
    border: 1px solid $ants-purple-3;
    width: 450px;

    .card-title {
        color: $ants-black !important;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;

        &:hover {
            text-decoration: underline;
        }
    }

    .tags-container {
        overflow: scroll;
    }

    .label {
        font-size: 14px;
        color: $ants-black !important;
    }

    .card-text {
        font-size: 14px;
        color: $ants-gray-1;
        margin-bottom: 15px;
    }
}
