$ants-purple-1: #2e1850;
$ants-purple-2: #b894e4;
$ants-purple-3: #cebde2;
$ants-yellow: #e5ba3f;
$ants-black: #191422;
$ants-white: #f9f9fa;
$ants-gray-1: #3c3743;
$ants-gray-2: #98979b;
$ants-gray-3: #ebeaec;
