.page-body {
    padding: 0 4% 60px 4%;
    background-color: $ants-white;
    min-height: calc(100vh - 85px);
}

.page-header {
    font-size: 24px;
    color: $ants-white;
    font-weight: 500;
    padding: 15px;
    background-color: $ants-yellow;
}

.section-header {
    h1 {
        font-size: 24px;
        color: $ants-black;
        font-weight: 700;
    }

    h2 {
        font-size: 14px;
        color: $ants-gray-2;
        font-weight: 500;
    }

    a {
        @extend h2;
        &:hover {
            text-decoration: underline;
        }
    }

    padding: 20px 20px 0 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid $ants-purple-3;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.section-body {
    padding: 0 20px;
}

.error {
    color: $ants-gray-2;
    background-color: $ants-gray-3;
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 14px;
    margin: 15px 0px;
}

.success {
    background-color: $ants-purple-3;
    color: $ants-white;
    border-radius: 4px;
    padding: 3px 8px;
    font-size: 14px;
    margin: 15px 0px;
}

.tags-container {
    display: flex;

    .tag {
        .tag-label {
            font-size: 10px;
            font-weight: 600;
            margin: 0px;
        }

        text-transform: capitalize;
        height: auto;
        font-size: 13px;
        font-weight: 400;
        background-color: $ants-purple-3;
        color: $ants-purple-1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1px 8px;
        margin: 8px 12px 15px 0px;

        .delete {
            padding: 2px 5px;
            margin-left: 2px;
            transform: scale(0.75);
            background-color: $ants-purple-1 !important;
            opacity: 0.5;
        }

        &.clickable:hover {
            background-color: scale-color($ants-purple-3, $lightness: -10%);
            cursor: pointer;
        }
    }
}

.button {
    &.dark {
        background-color: $ants-black !important;
        color: $ants-white !important;
        border: none;
        outline: none;

        &:hover {
            background-color: scale-color(
                $ants-black,
                $lightness: -10%
            ) !important;
        }
    }

    &.purple {
        background-color: scale-color($ants-purple-1, $lightness: 10%);
        color: $ants-white;
        outline: none;
        font-weight: 500;

        &:hover {
            background-color: $ants-purple-1;
        }
    }

    &.yellow {
        background-color: scale-color($ants-yellow, $lightness: -10%);
        color: $ants-white;
        border: 1px solid scale-color($ants-yellow, $lightness: -15%);
        outline: none;
        font-weight: 500;

        &:hover {
            background-color: scale-color($ants-yellow, $lightness: -15%);
        }
    }
}

.text {
    font-size: 16px;
    color: $ants-gray-1;
    margin: 15px;
}

.ants {
    font-size: 48px;
    font-weight: 900;
    color: $ants-white;
    text-shadow: 3px 3px scale-color($ants-yellow, $lightness: -10%);

    &:hover {
        color: $ants-white;
    }
}

.ants-yellow {
    @extend .ants;
    text-shadow: 3px 3px $ants-purple-1;
}

.card {
    border: 1px solid $ants-purple-3;
}

.card-scroll-container {
    display: flex;
    overflow: scroll;
    align-items: flex-start;
}

.loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ants-yellow;

    & .section {
        height: 200px;
    }

    p {
        color: $ants-white;
        font-size: 30px;
        font-weight: 600;
    }
}

.loading-text {
    color: $ants-purple-3;
    font-size: 24px;
    font-weight: 600;
    padding: 15px;
}

* {
    font-family: 'Noto Sans JP', sans-serif !important;
}
