@import './colors.scss';

.login,
.signup {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;

    .login-left {
        background-color: $ants-purple-1;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .signup-left {
        @extend .login-left;
        background-color: $ants-yellow;
    }

    .login-right,
    .signup-right {
        background-color: $ants-white;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .label {
            color: $ants-black !important;
        }

        a {
            display: block;
            color: $ants-black;
            font-size: 12px;
            margin: 15px 0px;

            &:hover {
                text-decoration: underline;
            }
        }

        .update-form {
            margin: auto 20px;
        }

        .form-header {
            color: $ants-black;
            font-size: 24px;
            font-weight: bold;
        }

        .form-subtitle {
            color: $ants-gray-1;
            font-size: 14px;
        }
    }

    label {
        display: block;
    }
}
